<div class="palettes">
        <span class="palettes_main" [style]="firstBack"></span>
        <span class="palettes_analog" [style]="secondBack"></span>
        <span class="palettes_compl" [style]="thirdBack"></span>
    <div class="palettes_sliders">
        <div class="palettes_sliders_value">
            <label for="hue">H</label>
            <input max="360" [(ngModel)]="h" type="range" id="hue" name="hue" (mousemove)="colorChange()">
            <input [(ngModel)]="h" type="text" (keyup.enter)="colorChange">
        </div>

        <div class="palettes_sliders_value">
            <label for="saturation">S</label>
            <input [(ngModel)]="s" max="100" type="range" id="saturation" name="saturation" (mousemove)="colorChange()">
            <input [(ngModel)]="s" type="text" (keyup.enter)="colorChange">
        </div>

        <div class="palettes_sliders_value">
            <label for="light">L</label>
            <input max="100" [(ngModel)]="l" type="range" id="light" name="light" (mousemove)="colorChange()">
            <input [(ngModel)]="l" type="text" (keyup.enter)="colorChange">
        </div>
    </div>


</div>

<div>
    <p></p>
</div>