<div class="palettes">
    <div class="palettes_main" [style]="main"></div>
    <div class="palettes_analog" [style]="analog"></div>
    <div class="palettes_compl" [style]="comp"></div>
    <div clas="palettes_sliders">
        <div>
            <label for="hue">H</label>
            <input [(ngModel)]="h" type="range" id="hue" name="hue" min="0" max="359" (mousemove)="colorChange()">
            <input type="text" id="huet" oninput="this.previousElementSibling.value= this.value">
        </div>

        <div>
            <label for="saturation">S</label>
            <input [(ngModel)]="s" type="range" id="saturation" name="saturation" min="0" max="100"
                (mousemove)="colorChange()">
            <input type="text" id="saturationt" oninput="this.previousElementSibling.value= this.value">
        </div>

        <div>
            <label for="light">L</label>
            <input [(ngModel)]="l" type="range" id="light" name="light" min="0" max="100" (mousemove)="colorChange()">
            <input type="text" id="lightt" oninput="this.previousElementSibling.value= this.value">
        </div>
    </div>


</div>

<div>
    <p></p>
</div>