

.palettes{
    display: flex;
    flex-direction: row;

    &_main{
        background-color: var(--clr-primary);
        width: 10em;
        height: 10em;
    }
    &_analog{
        background-color: var(--clr-secondary);
        width: 10em;
        height: 10em;
    }

    &_compl{
        background-color: var(--clr-tertiary);
        width: 10em;
        height: 10em;
    }

    &_sliders{
        display: flex;
        flex-direction: column;
        gap:2px;
    }

    &_texts{
        display: flex;
        flex-direction: column;
    }
}