

.palettes{
    display: flex;
    flex-direction: row; 
    gap:10px;


    &_main{
        
        width: 10em;
        height: 10em;
    }
    &_analog{
        
        width: 10em;
        height: 10em;
    }

    &_compl{
        
        width: 10em;
        height: 10em;
    }

    &_sliders{
        display: flex;
        flex-direction: column;
        gap:2px;
    }

    &_texts{
        display: flex;
        flex-direction: column;
    }
}