<div class="palettes">
    <div class="palettes_main"></div>
    <div class="palettes_analog"></div>
    <div class="palettes_compl"></div>
    <div clas="palettes_sliders">
        <div>
            <label for="hue">H</label>
            <input type="range" id="hue" name="hue" min="0" max="359" oninput="this.nextElementSibling.value = this.value" >
            <input type="text" id="huet" oninput="this.previousElementSibling.value= this.value" >
        </div>

        <div>
            <label for="saturation">S</label>
            <input type="range" id="saturation" name="saturation" min="0" max="100" oninput="this.nextElementSibling.value = this.value">
            <input type="text" id="saturationt" oninput="this.previousElementSibling.value= this.value" >
        </div>

        <div>
            <label for="light">L</label>
            <input type="range" id="light" name="light" min="0" max="100" oninput="this.nextElementSibling.value = this.value">
            <input type="text" id="lightt" oninput="this.previousElementSibling.value= this.value">
        </div>
    </div>

    
</div>

<div>
    <p> .root: --clr-primary : hsl({{hue}},{{sat}},{{light}}</p>
</div>
